<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="bg-red">
      <div class="header container">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo圖">  
          <ul class="tx-Wh">
              <li><a href="#">系列鏡框</a></li>
              <li><a href="#">門市據點</a></li>
              <li><a href="#">部落格</a></li>
              <li><a href="#">常見問題</a></li>
          </ul>
      </div>
  </div>
    

    <%- contents %>

    <footer>
      <div>
        <div >
            <ul >
                <li><a href="">首頁</a></li>
                <li><a href="">系列鏡框</a></li>
                <li><a href="">門市據點</a></li>
                <li><a href="">常見問題</a></li>
            </ul>
            <ul>
                <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="FB-icon"></a></li>
                <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="IG-icon"></a></li>
                <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line-icon"></a></li>
            </ul>
            <ul>
                <li>
                    <img src="" alt="">
                    <h3><a href="tel:0800-000-000">0800-000-000</a></h3>
                </li>
                <li>
                    <img src="" alt="">
                    <h3><a href="mailto:glasses@business.com">glasses@business.com</a></h3>
                </li>
            </ul>
            
        </div>
        <div>
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul>
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>